PII_DB_URL_KZ=postgres://postgres:admin@piidb:5432/postgres
CLINICAL_DB_URL_KZ=postgres://postgres:admin@clinicaldb:5432/postgres
MASTER_DB_URL=postgres://postgres:admin@masterdb:5432/postgres
NODE_ENV=development
PORT=3008

FRONTEND_URL=http://localhost:1347

EMAIL_SENDER=sender@mail.com
EMAIL_SENDER_PASSWORD=emailPpassword
EMAIL_HOST=host.hostingprovider.com
EMAIL_PORT=123
RECIEVERS=receiver@mail.com

AMAZON_S3_BUCKET=https://bucketurl.s3.region.amazonaws.com

KAFKAJS_NO_PARTITIONER_WARNING=1